@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,100italic,300,300ita‌​lic,400italic,500,500italic,700,700italic,900italic,900);
html, body, html * {
  font-family: 'Roboto', sans-serif;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    zoom: 0.8; /* Other non-webkit browsers */
    zoom: 80%; /* Webkit browsers */
}

/* Header and Main */

.header-and-main {
    display: flex;
    flex-direction: column;
    padding-left: 200px;
    padding-right: 200px;
    background-color: #1f2937;
    color: #f9faf8;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

ul {
    display: flex;
    list-style-type: none;
}

li {
    margin-left: 16px;
    font-size: 18px;
}

.links a {
    color: #e5e7eb;
}

a:link {
    text-decoration: none;
}

.description-and-sign-up {
    display: flex;
    flex-direction: column;
    padding-right: 32px;
}

.main {
    display: flex;
}

.header, .main {
    padding-bottom: 120px;
}

.title-main {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
    max-width: 340px;
}

.description {
    font-size: 18px;
    color: #e5e7eb;
    filter: contrast(80%);
}

.logo {
    font-size: 18px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
}

.sign-up-button {
    justify-content: left;
    padding-top: 16px;
}

.sign-up-button button {
    background-color: #3882f6;
    border: none;
    padding: 8px 36px;
    font-size: 16px;
    color: #e5e7eb;
    border-radius: 12px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
}

.sign-up-button button a {
    color:#e5e7eb;
    font-weight: bold;
    font-size: 20px;
}

.placeholder-image {
    padding-left: 48px;
}

.random-information-block {
    display: flex;
    flex-direction: column;
    padding-left: 300px;
    padding-right: 300px;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-content: center;
}

.random-information-title {
    display: flex;
    justify-content: center;
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
}

.image-blocks-random {
    display: flex;
    justify-content: center;
}

.image-block-1, .image-block-2, .image-block-3, .image-block-4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 24px;
    padding-right: 80px;
}

.image-block-4 {
    padding-right: 0px;
}

.image-block-1-image img, .image-block-2-image img,
 .image-block-3-image img, .image-block-4-image img {
    display: flex;
    border-style: solid;
    border-color: #3882f6;
    border-width: 6px;
    border-radius: 24px;    
}

.image-block-1-text, .image-block-2-text,
 .image-block-3-text, .image-block-4-text {
    display: flex;
    justify-content: center;
    padding-top: 8px;
    text-align: center;
    max-width: 162px;
    font-size: 18px;
    filter: contrast(80%);
 } 

 .quote-block {
    display: flex;
    background-color: #e5e7eb;
    color: #1f2937;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-left: 240px;
    padding-right: 240px;
 }

 .the-quote {
    display: flex;
    flex-direction: column;

    /* border-style: solid;
    border-color: red;
    border-width: 2px; */
 }

 .the-quote blockquote {
    display: flex;
    font-style: italic;
    font-size: 36px;
    font-weight: lighter;
    justify-content: center;
    margin: 40px;
    margin-bottom: 0px;
 }

 .the-quote blockquote p {
    margin-bottom: 2px;
 }

 .the-quote figcaption {
    display: flex;
    justify-content: right;
    margin: 40px;
    margin-top: 0px;
    font-weight: bolder;
    font-size: 24px;
 }

 .call-to-action-block {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
    padding-right: 180px;
    padding-left: 180px;
 }

 .call-to-action-blue-menu {
    display: flex;
    justify-content: center;
    padding-left: 120px;
    padding-right: 120px;
    background-color: #3882f6;
    border-style: solid;
    border-color: #3882f6;
    border-width: 6px;
    border-radius: 12px;
    flex-grow: 1;
 }

 .call-and-sign-up-button {
    display: flex;
    padding: 40px;
    align-items: center;
 }

 .the-call {
    display: flex;
    flex-direction: column;
    margin-right: 260px;
 }

 .call-title {
    font-size: 32px;
    color: #f9faf8;
    font-weight: bold;
    padding-bottom: 2px;
 }

 .call-text {
    color: #f9faf8;
    font-size: 20px;
 }

 .call-button button {
    background-color: #3882f6;
    border: none;
    padding: 12px 46px;
    font-size: 16px;
    color: #f9faf8;
    border-style: solid;
    border-color:#f9faf8;
    border-radius: 12px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
 }

 .call-button button a {
    color:#f9faf8;
    font-weight: bold;
    font-size: 24px;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
}

.copyright {
    display: flex;
    padding-bottom: 12px;
    padding-top: 12px;
}

.copyright p {
    color: #f9faf8;
    font-size: 20px;
}

